<launch>
  <!-- Launch basic world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find lidar_gazebo)/worlds/lidar.world"/>
  </include>

  <!-- Process the xacro model of the Lidar mount -->
  <param name="robot_description" command="$(find xacro)/xacro 
      --inorder $(find lidar_description)/urdf/lidar.urdf.xacro" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" 
    type="joint_state_publisher" />
	
  <node name="robot_state_publisher" pkg="robot_state_publisher" 
      type="state_publisher" />

  <!-- Spawn the lidar mount urdf into world -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
      args="-param robot_description -urdf -model lidar" />

</launch>
