#catkin devel
devel/
devel_isolated/
install/
logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod~]

# IDE projects
.idea/

# C extensions
*.so
*.o 
**.o*
**.gmo
# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.catkin_tools/

# Rope
.ropeproject

# Django stuff:
*.log
*.pot


# Sphinx documentation
docs/_build/
*.DS_Store
catkin_ws/src/arduino/docs
docs
build_isolated/
*.sublime*

# MoveIt Specifics
.rosinstall*
