[submodule "catkin_ws/src/usb_cam"]
    path = catkin_ws/src/usb_cam
    url = git@github.com:mcgill-robotics/usb_cam.git
[submodule "catkin_ws/src/rosserial_tivac"]
	path = catkin_ws/src/rosserial_tivac
	url = https://github.com/mcgill-robotics/rosserial_tivac
[submodule "qt-gstreamer"]
    path = qt-gstreamer
    url = http://anongit.freedesktop.org/git/gstreamer/qt-gstreamer.git
[submodule "rimstreamer"]
    path = rimstreamer
    url = git@github.com:dlavoieb/rimstreamer.git

