<launch>

	<group ns="lidar">
	    <node name="urg_node" pkg="urg_node" type="urg_node" >
	        <param name="port" type="string" value="/dev/lidar"/>
	        <param name="intensity" type="bool" value="true"/>
	    </node>

	    <!-- <node name="oscillations" pkg="lidar" type="Oscillate.py"/> -->
	</group>

    <!-- <include file="$(find ahrs)/launch/ahrs.launch"/> -->

</launch>
