<launch>
  <!-- Display the joint state control gui -->
  <arg name="gui" default="True" />
  <param name="use_gui" value="$(arg gui)"/>
	
  <!-- Load the robot description urdf -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder
      $(find lidar_description)/urdf/lidar.urdf.xacro" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" 
      type="joint_state_publisher" />
	
  <node name="robot_state_publisher" pkg="robot_state_publisher" 
      type="state_publisher" />

  <!-- Run Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d 
      $(find urdf_tutorial)/urdf.rviz" required="true" />
</launch>
