<launch>
  <!-- Launch Unscented Kalman Filter through robot_localization. -->
  <node pkg="robot_localization" type="ukf_localization_node"
      name="odometry_node">
    <param name="frequency" value="100" />

    <!-- Wheel odometry -->
    <param name="twist0" value="wheel_encoder/velocity" />
    <rosparam param="twist0_config">[false, false, false,
                                    false, false, false,
                                    true, true, true,
                                    false, false, true,
                                    false, false, false]</rosparam>
  </node>
</launch>
