<launch>

    <!-- Include Gazebo's default launch file, you can have a look at it you want, but it isn't relevant-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find arm_simulation)/worlds/arm.world"/>
    </include>

    <!-- This is a parameter that will be shared across all running nodes. Specifically, it is the one Rviz polls to find the path to the urdf file corresponding to the model -->
    <param name="robot_description" textfile="$(find arm_control)/urdf/arm.urdf"/>

    <!-- Spawn arm into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model arm" />

    <!-- Transform the messages published in /joint_states to TF transforms and publishes them to /tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <!--<remap from="joint_states" to="arm/joint_states" />-->
    </node>

    <!-- Start rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="$(find arm_simulation)/arm.rviz"/>

</launch>
