<launch>
    <include file="$(find rover_camera)/launch/arm.launch"/>
    <include file="$(find ahrs)/launch/ahrs.launch"/>
    <include file="$(find rover_camera)/launch/omnicam.launch"/>
    <include file="$(find rover_camera)/launch/wideAngle.launch"/>
    <include file="$(find rover_camera)/launch/leftHaz.launch"/>
    <include file="$(find rover_camera)/launch/rightHaz.launch"/>
    <include file="$(find arduino)/launch/arduino.launch"/>
<!--    <include file="$(find arduino)/launch/science.launch"/>-->
</launch>
