<launch>
  <!--
  <include file="$(find rover_camera)/launch/leftHaz.launch"/>
  <include file="$(find rover_camera)/launch/rightHaz.launch"/>
  -->
  <include file="$(find rover_camera)/launch/arm.launch"/>
  <include file="$(find rover_camera)/launch/side.launch"/>
  <include file="$(find rover_camera)/launch/wideAngle.launch"/>
  <include file="$(find arduino)/launch/drive.launch"/>
  <include file="$(find rover_tiva)/launch/tiva.launch"/>
  <node pkg="arm_control" type="firmware_remap.py" name="arm_remaper"/>
</launch>
