<launch>
<arg name="dev1" />
<arg name="dev2" />
    <include file="$(find nav_cam_acq)/launch/base_hazcam.launch">
        <arg name="name" value="hazcam1" />
        <arg name="device_id" value="$(arg dev1)" />
    </include>
    <include file="$(find nav_cam_acq)/launch/base_hazcam.launch">
        <arg name="name" value="hazcam2" />
        <arg name="device_id" value="$(arg dev2)" />
    </include>
</launch>
