<launch>
    <!-- ROS Serial node. -->
    <node pkg="rosserial_python" type="serial_node.py" name="left_wheel_enc"
            args="_port:=/dev/tiva_wheel_left">
        <param name="topic_name" value="left_wheel_encoder" />
    </node>
    <node pkg="rosserial_python" type="serial_node.py" name="right_wheel_enc"
            args="_port:=/dev/tiva_wheel_right">
        <param name="topic_name" value="right_wheel_encoder" />
    </node>
</launch>
