<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find arm_ros_control)/config/arm_ros_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
      respawn="false" output="screen" ns="/arm"
      args="joint_state_controller
            base_yaw_effort_controller
            base_pitch_effort_controller
            elbow_pitch_effort_controller
            elbow_roll_effort_controller
            wrist_pitch_effort_controller
            wrist_roll_effort_controller"
  />

  <!-- Dispatch /arm/joint_states to individual topics -->
  <node name="joint_states_dispatcher" pkg="arm_ros_control" type="joint_states_dispatcher" />

  <!-- Load the PID controllers -->

  <!-- base_pitch -->
  <node name="controller" pkg="pid" type="controller" ns="arm/base_pitch_position_controller" output="screen" >
    <param name="node_name" value="base_pitch_position_controller" />
    <param name="Kp" value="600.0" />
    <param name="Ki" value="300.0" />
    <param name="Kd" value="15.0" />
    <param name="upper_limit" value="1000000" />
    <param name="lower_limit" value="-1000000" />
    <param name="windup_limit" value="1000000" />
    <param name="max_loop_frequency" value="1000.0" />
    <param name="min_loop_frequency" value="1.0" />
    <remap from="setpoint" to="command" />
    <remap from="control_effort" to="/arm/base_pitch_effort_controller/command" />
  </node>

  <!-- base_yaw -->
  <node name="controller" pkg="pid" type="controller" ns="arm/base_yaw_position_controller" output="screen" >
    <param name="node_name" value="base_yaw_position_controller" />
    <param name="Kp" value="20.0" />
    <param name="Ki" value="2.0" />
    <param name="Kd" value="1.0" />
    <param name="upper_limit" value="1000000" />
    <param name="lower_limit" value="-1000000" />
    <param name="windup_limit" value="1000000" />
    <param name="max_loop_frequency" value="1000.0" />
    <param name="min_loop_frequency" value="1.0" />
    <remap from="setpoint" to="command" />
    <remap from="control_effort" to="/arm/base_yaw_effort_controller/command" />
  </node>

  <!-- elbow_pitch -->
  <node name="controller" pkg="pid" type="controller" ns="arm/elbow_pitch_position_controller" output="screen" >
    <param name="node_name" value="elbow_pitch_position_controller" />
    <param name="Kp" value="400.0" />
    <param name="Ki" value="40.0" />
    <param name="Kd" value="3.8" />
    <param name="upper_limit" value="1000000" />
    <param name="lower_limit" value="-1000000" />
    <param name="windup_limit" value="1000000" />
    <param name="max_loop_frequency" value="1000.0" />
    <param name="min_loop_frequency" value="1.0" />
    <remap from="setpoint" to="command" />
    <remap from="control_effort" to="/arm/elbow_pitch_effort_controller/command" />
  </node>

  <!-- wrist_pitch -->
  <node name="controller" pkg="pid" type="controller" ns="arm/wrist_pitch_position_controller" output="screen" >
    <param name="node_name" value="wrist_pitch_position_controller" />
    <param name="Kp" value="15.4" />
    <param name="Ki" value="7.0" />
    <param name="Kd" value="0.1" />
    <param name="upper_limit" value="1000000" />
    <param name="lower_limit" value="-1000000" />
    <param name="windup_limit" value="1000000" />
    <param name="max_loop_frequency" value="1000.0" />
    <param name="min_loop_frequency" value="1.0" />
    <remap from="setpoint" to="command" />
    <remap from="control_effort" to="/arm/wrist_pitch_effort_controller/command" />
  </node>

  <!-- elbow_roll -->
  <node name="controller" pkg="pid" type="controller" ns="arm/elbow_roll_position_controller" output="screen" >
    <param name="node_name" value="elbow_roll_position_controller" />
    <param name="Kp" value="60.0" />
    <param name="Ki" value="25.0" />
    <param name="Kd" value="1.0" />
    <param name="upper_limit" value="1000000" />
    <param name="lower_limit" value="-1000000" />
    <param name="windup_limit" value="1000000" />
    <param name="max_loop_frequency" value="1000.0" />
    <param name="min_loop_frequency" value="1.0" />
    <remap from="setpoint" to="command" />
    <remap from="control_effort" to="/arm/elbow_roll_effort_controller/command" />
  </node>

  <!-- wrist_roll -->
  <node name="controller" pkg="pid" type="controller" ns="arm/wrist_roll_position_controller" output="screen" >
    <param name="node_name" value="wrist_roll_position_controller" />
    <param name="Kp" value="4.6" />
    <param name="Ki" value="4.0" />
    <param name="Kd" value="0.02" />
    <param name="upper_limit" value="1000000" />
    <param name="lower_limit" value="-1000000" />
    <param name="windup_limit" value="1000000" />
    <param name="max_loop_frequency" value="1000.0" />
    <param name="min_loop_frequency" value="1.0" />
    <remap from="setpoint" to="command" />
    <remap from="control_effort" to="/arm/wrist_roll_effort_controller/command" />
  </node>

  <!-- Convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/arm/joint_states" />
  </node>

</launch>
